.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
    height: 400px;

}

.btn {
    padding: 20px 150px;
    border: 1px solid black;
    border-radius: 50px;
    color: white;
    background-color: brown;
    margin-left: 700px;
}